.Login {
    display: inline-flex;
    padding-left: 0px;
    justify-content: flex-end;
    align-items: center;
    gap: 114px;
    flex-shrink: 0;
}

.title {
    color: #192252;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.16px;
}

.subtitle {
    color: #848FAC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
}

.label {
    color: #192252;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.07px;
}